<html>  
<head>  
    <title>Image Upload Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Mono&display=swap" rel="stylesheet">  
</head>  
<body>
    <h3>File Upload Site</h3>  
    <form action = "/success" method = "post" enctype="multipart/form-data">  <!--form action either verify or success-->
        <input type="file" name="file"/>
        <br><br>
        <input type = "submit" value="Upload">
        <input type = "reset"/>  
    </form>  
</body>  
</html>